{% extends 'base/base.html' %}
{% block title %} Nuevo {{ name }}{% endblock %}
{% block header %}
    <h1>
        Ticket
        <small>Nuevo {{ name }}.</small>
    </h1>
{% endblock header %}
{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Por favor, complete el siguiente formulario para crear un nuevo {{ name }}.</h3>
    </div>
    <div class="box-body">
        <form method="POST">
        {% csrf_token %}
            <div class="row">
                <div class="col-lg-10" >
                    {{ form.as_p }}
                    <!-- <input type="text" name="titulo" maxlength="60" id="id_titulo" class="form-control" required /> -->
                </div>
                <div class="col-lg-2" >
                    <button class="btn btn-primary" type='submit'>Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}