{% extends 'base/base.html' %}
{% block title %} Detalle de ticket{% endblock %}
{% block header %}
    <h1>
        Ticket
        <small>Seguimiento.</small>
    </h1>
{% endblock header %}
{% block content %}
    <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> Seguimeinto de ticket</h3>
        </div>
        <div class="box-body ">
            <div class="row ">
                <form name="form" method="post">
                {% csrf_token %}
                    <div class="col-lg-5">
                        <h4>Ingrese numero de ticket que desea hacer seguimiento.</h4>
                    </div>
                    <div class="col-lg-4">
                            <input type="text" name="codigo" id="idcodigo" maxlength="6" required class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <button type="submit" class="pull-right btn btn-default" value="Buscar">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-12" align="center">
                    <h4>{{ error }}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script type="application/javascript">
    window.addEventListener("load", function() {
        form.codigo.addEventListener("keypress", soloNumeros, false);
    });

    //Solo permite introducir numeros.
    function soloNumeros(e){
        var key = window.event ? e.which : e.keyCode;
        if (key < 48 || key > 57) {
            e.preventDefault();
        }
    }
    </script>
{% endblock jquery %}