{% extends 'base/base.html' %}
{% block title %} Detalle de documento N°{{ detalle.num }} {% endblock %}
{% block header %}
    <h1>
        Documentos
        <small>Detalle.</small>
    </h1>

{% endblock header %}


{% block content %}


    {% if alert %}
        {% if alert != 'printed' %}
            <div class="alert alert-danger alert-dismissable ">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ alert }} <!-- <a href="#" class="alert-link">Alert Link</a>. -->
            </div>
            {% endif %}
    {% endif %}
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="box-title"><i class="fa fa-file-text fa-fw"></i> Documento N°  {{ detail.year }}/{{ detail.number }} </h3>
                    </div>
                    <div class="col-md-6" align="right">


                        <div class="btn-group">
                            <a class="btn btn-primary" href="{% url 'document:documento_edit' detail.id %}"><i class="fa fa-edit"></i> Editar</a>

                        </div>
                        <div class="btn-group" style="margin-left: 4%">
                            <button class="btn btm-block btn-success" onclick="location.href='{% url 'document:documento_impreso' detail.id %}'"><i class="fa fa-print"></i> {% if detail.print %}Reimprimir{% else %}Imprimir{% endif %}</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body hidden-xs" align="center">
                <div id="documento"  style="padding-top: 30px; padding-left: 50px; padding-right:50px; font-family: Arial, sans-serif;">
                    <style type="text/css">
                        .doc__ {
                            font-family: Arial, sans-serif;
                            text-align: left;
                            margin-left: 9%;
                            margin-right: 9%;
                            width: 590px;
                            height: 1100px;
                            margin-top: -4px;
                            padding-top: 0%;
                            font-size: 12pt;
                            /*font-weight: bold; */
                        }
                        .cuerpo_oficio {
                            /*text-indent: 140px; */
                            text-align: justify;
                            min-height: 380px;
                            width: auto;
                            margin-top:5px;
                            line-height: 1.3;
                        }
                        .cuerpo_carta {
                            /*text-indent: 140px; */
                            text-align: justify;
                            min-height: 200px;
                            width: auto;
                            max-width: 50px;
                            margin-top:5px;
                            line-height: 1.3;
                        }
                    /*    div { border: red 1px solid; } */
                        table, td, tr {
                     /*       border: blue 1px solid;
                            font-weight: bold;*/
                        }
                         @page
                        {
                            size: auto;
                            margin: 0mm;
                        }
                        .marker {
                                background-color: yellow;
                        }
                    </style>
                    <div class="papel">
                        <div class="doc__ ">
                            <br>
                            <div >
                                <div style="float: left;vertical-align: top; margin-top: 0px">
                                    <img src="/media/img/logo.png" alt="logo" width="170px" height="auto"><br>

                                </div>
                                <div style="text-align: left; margin-left: 50%;padding-top: 100px">

                                    <b><p>ORD.: N°{{ detail.number }}/{{ detail.year }}<br>
                                    ANT.: {% if previous %}{{ previous.matter }}{% else %} - {% endif %}<br>
                                    MAT.: {{ detail.matter }}.<br></p></b>

                                </div>
                            </div>
                            <div style="padding-top: 20px; padding-bottom: 50px">Colina,
                                {{ detail.created_at|date:"l, d" }} de
                                {{ detail.created_at|date:"F" }} de
                                {{ detail.created_at|date:"Y" }}
                            .-</div>
                        {% if detail.change %}
                            <table>
                                <tr style="vertical-align: top">
                                    <td width="50" height="100 "><b>A</b></td>
                                    <td width="50" height="100 "><b>:</b></td>
                                  <td width="475"><b>{{ detail.receiver }}<br>{{ detail.receiver.job_title }}</b></td>
                                </tr>
                                <tr style="vertical-align: top">
                                  <td width="50" height="100"><b>DE</b></td>
                                  <td width="50" height="100"><b>:</b></td>
                                  <td width="475"><b>{{ detail.remittent }}<br>{{ detail.remittent.job_title }}</b></td>
                                </tr>
                            </table>
                        {% else %}
                            <table>
                                <tr style="vertical-align: top">
                                  <td width="50" height="100"><b>DE</b></td>
                                  <td width="50" height="100"><b>:</b></td>
                                  <td width="475"><b>{{ detail.remittent }}<br>{{ detail.remittent.job_title }}</b></td>
                                </tr>
                                <tr style="vertical-align: top">
                                    <td width="50" height="100 "><b>A</b></td>
                                    <td width="50" height="100 "><b>:</b></td>
                                  <td width="475"><b>{{ detail.receiver }}<br>{{ detail.receiver.job_title }}</b></td>
                                </tr>
                            </table>
                        {% endif %}
                            {% if detalle.tipo.titulo == "Memorando" %}
                                <div class="cuerpo_carta">
                                    {{ body }}
                                </div>
                            {% else %}
                                <div class="cuerpo_oficio">
                                    {{ body|linebreaksbr }}
                                </div>
                            {% endif %}
                            <div style="float: left; font-weight: normal;margin-bottom: 40px; "><br><br><br><br><br><br><br>
                               {{ detail.footer|linebreaksbr }}
                            </div>
                            <div style="margin-left: 45%; text-align: center; width: 380px; line-height: 0.4">
                               {{ signature }}
                            </div>
                            <br><br><br>
                        </div>
                    </div>
                </div>
                <div align="right">**Correlativo interno {{ detalle.id }}**</div>
            </div>
            <div class="box-footer" >

            </div>
        </div>
{% endblock %}

{% block jquery %}
{% if alert == 'printed' %}
    <script type="text/javascript">
            $('#documento').printThis({});
    </script>
{% endif %}
{% endblock jquery %}
