{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Corporacion de Colina">
        <meta name="author" content="Octavio Cubillos">
        <META HTTP-EQUIV='Refresh' CONTENT="5; URL={% url 'auth:espera' %}">

        <title>Corporacion Colina {% block title %} {% endblock %}</title>
         <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

        <link rel="stylesheet" href="{% static 'css/personal.css' %}">
        <link href="https://adminlte.io/themes/AdminLTE/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
        <link href="https://adminlte.io/themes/AdminLTE/plugins/iCheck/all.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
        <!-- Date Picker -->
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body class="hold-transition skin-blue">
        <header class="main-header">
            <a href="" class="logo">
                <span class="logo-mini">Corp.</span>
                <span class="logo-lg">Corporacion de Colina</span>
            </a>
            <nav class="navbar navbar-static-top">

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ request.session.avatar }}" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{ user.first_name }} {{ user.last_name }}</span>
                            </a>
                            <ul class="dropdown-menu">
                            <!-- User image -->
                                <li class="user-header">
                                    <img src="{{ request.session.avatar }}" class="img-circle" alt="User Image">

                                    <p>
                                    {{ request.session.fullname }}
                                    <small>Correo electronico</small>
                                    {{ request.session.email }}

                                    </p>
                                </li>
                                <li class="user-body">
                                    Detalle
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="{% url 'auth:logout' %}" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="content-wrapper" align="center" style="margin-left: 0px;">
        <!-- Content Header (Page header) -->
            <section class="content">
                <h2>Bienvenido al sistema de <b>La Corporación de Colina</b>.</h2>
                <h3>Nombre: {{ request.session.fullname }}</h3>
                <h3>Correo: {{ request.session.email }}</h3>
                <h3><b>En espera que acepten tu solicitud.</b></h3>
            </section>
        </div>
        <footer class="main-footer" style="margin-left: 0px;">
            <div class="pull-right hidden-xs">
                <b>Compilacion</b> {{ request.session.compilation }}
            </div>
            <strong>Copyright &copy; 2017 <a href="">Oton</a>.</strong> All rights
            reserved.
        </footer>
        <div class="control-sidebar-bg"></div>

        <!-- jQuery 3 -->
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
          $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <!-- Sparkline -->
        <script src="{% static 'bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>

        <!-- jQuery Knob Chart -->
        <script src="{% static 'bower_components/jquery-knob/dist/jquery.knob.min.js' %}"></script>
        <!-- daterangepicker -->
        <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
        <!-- datepicker -->
        <script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
        <!-- Slimscroll -->
        <script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static 'dist/js/adminlte.min.js' %}"></script>


        <!-- CK Editor -->
        <script src="{% static 'bower_components/ckeditor/ckeditor.js' %}"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>

        <script src="{% static 'js/print.js' %}"></script>
        <script src="{% static 'js/printThis.js' %}"></script>


    <!-- Select2 -->
        <script src="https://adminlte.io/themes/AdminLTE/bower_components/select2/dist/js/select2.full.min.js"></script>
        <script src="https://adminlte.io/themes/AdminLTE/plugins/iCheck/icheck.min.js" ></script>
        <script type="text/javascript">
          $(document).ready(function() {
            $('.select2').select2();

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
              checkboxClass: 'icheckbox_minimal-blue',
              radioClass   : 'iradio_minimal-blue'
            })


        });
        </script>
    </body>
</html>

